{% extends "adventure/adv.base.html.twig" %}
{% block title %}Jungle{% endblock %}

{% block body %}

{% set Diavis = 'block' %}
{% if diamond.getItem()[2] == true %}
    {% set Diavis = 'none' %}
{% endif %}
    <article class="content">
        <h1>The Jungle</h1>
        {# <button type="submit" name="addPickaxe" /> #}
        <div class="jungle">

        <form method="post">
            <div class ="escJungle">
                <div class ="item-container">
                <button type="submit" name="escapeJungle" value="escape">
                <div class="escape"></div>
                </button>
            </div>
            </div>

            <div class ="diamond3" style="display: {{Diavis}}">
                <div class ="item-container">
                <button type="submit" name="addDiamond" value="Diamond">
                <img src="../img/adventure/diamond.png" width="20" alt="diamond">
                </button>
            </div>
            </div>

            <div class ="parrot">
                <div class ="item-container">
                <button type="submit" name="interactBird" value="Bird">
                <img src="../img/adventure/parrot.png" width="60" alt="parrot">
                </button>
            </div>
            </div>

            <div class ="pirate">
                <div class ="item-container">
                <button type="submit" name="interactPirate" value="pirate">
                <img src="../img/adventure/pirate.png" width="80" alt="pirate">
                </button>
            </div>
            </div>

            <div class ="back">
                <div class ="item-container">
                <button type="submit" name="back" value="Back">
                <img src="../img/adventure/back.png" width="70" alt="back">
                </button>
            </div>
            </div>
            </form>
        </div>

        <div class="info-log">
        {% for message in app.flashes('info') %}
        <div class="flash-notice">
            {{ message }}
        </div>
        {% endfor %}
        </div>

        <h3>Your Bag:</h3>
        <div class="bag">
        {% for item in bag %}
            <div class="bag-item">
                <img src="{{item.getItem()[1]}}" width="40">
                <p>{{item.getItem()[0]}}</p>
            </div>
        {% endfor %}
        </div>
    </article>
{% endblock %}