{% extends "adventure/adv.base.html.twig" %}
{% block title %}Adventure Game{% endblock %}

{% block body %}
    <article class="content">
        <h1>Om mitt projekt</h1>
        <div class ="text-about">
        <h2>Länkar</h2>
            <ul>
                <li><a href="https://github.com/JamesTTTT/report">Github</a></li>
                <li><a href="https://www.student.bth.se/~jata20/dbwebb-kurser/mvc/me/report/docs/api/namespaces/app-adventure.html">PHPdoc</a></li>
                <li>PHPmetrics</li>
                <li><a href="https://scrutinizer-ci.com/g/JamesTTTT/report/?branch=main">Scrutinizer</a></li>
            </ul>
            <h2>Projekt Breskrivning</h2>
            <p>Jag har valt att göra ett point and click adventure game vart målet är att rymma från djungeln med så många diamanter som möjligt på kortast tid. När spelet startar måste du ange ditt namn sen börjar första scenen utanför en grotta. Det finns fyra huvudscener (jungle, entrance, inner cave och ending) och en hemlig scen gömd i grottan (dungeon). För att klara ut spelet och rymma från djungeln måste du hitta en karta. Alla event i spelet har tre olika dialoger en dialog när du saknar vart de söker, en när du har vart de söker och en efter du har gett de vad de vill ha. När du klickar på ett objekt så läggs de i väskan längst ner och ett meddelande poppar upp om vad som hände. Meddelande poppar upp varje gång någonting händer i spelet.</p>
            <p>Det snabbaste sättet att spela igenom spelet är att plocka upp hackyxan i första scenen, gå in i grottan och sälja hackan för guld sen återvända med röda pilen nere i hörnet två gånger så du kommer fram till djungeln vart du kan köpa kartan med guldet från piraten. Klicka på öppningen bakom piraten för att fly. Om man vill samla alla fem diamanter behöver man hitta dem utspridda runt om i spelet. En av diamanterna är gömd i en kista i grottan och för att låsa upp den behöver du plocka upp äpplet sen ge den till papegojan i djungeln som i sin tur ger dig en nyckel till kistan. </p>
            <p>Efter du har klarat ut spelet presenteras du med hur många sekunder det tog dig för att klara spelet, hur många diamanter du hittade och en score. Du kan välja att gå tillbaka till start eller spara ditt resultat. Om du klickar ”Save your score” så sparas de resultatet genom ORM till scoreboard databasen. I menyn kan du klicka ”Scoreboard” och där kan du se alla resultat som har sparats tidigare. För att starta om sessionen går du bara tillbaka till menyn och klickar ”Play The Game” eller ”Reset” knappen i footern medan du är i spelet. </p>
            <p>Spelet använder sig av fyra nya klasser ”Player”, ”Item”, ”Game” och ”Event”. Player klassen används till att hantera items i spelarens väska. Det finns en array vart item objekten läggs in i när dem plockas upp. Klassen item används för alla sakerna man plockar upp och lägger i sin väska. När man skapar ett item objekt så måste man ange ett namn och sökväg till item ikon. Om man klickar på ett item sätts ”picked” boolean till true och det är så twig vet om den ska gömma en item div i spelet. Game objektet startar timer, håller koll på diamanter och räknar ut score genom att fördela tiden med antalet diamanter gånger 10 000 och sedan avrunda upp. Event klassen är till alla saker man kan integrera med. Event tar en nyckel item och en belönings item som argument. Event objektet kollar om spelaren har rätt nyckel item i sin väska och om det stämmer ersätts de item med ett nytt. </p>
            <h2>Kodkvalité</h2>
            <p></p>
        </div>
    </article>
{% endblock %}