{% extends "adventure/adv.base.html.twig" %}
{% block title %}Cave {% endblock %}

{% block body %}

{% set Diavis = 'block' %}
{% if diamond2.getItem()[2] == true %}
    {% set Diavis = 'none' %}
{% endif %}

    <article class="content">
        <h1>Inside The Cave</h1>
        {# <button type="submit" name="addPickaxe" /> #}
        <div class="secondroom">
        {% set pick = 'block' %}
        <form method="post">

            <div class ="enterDungeon">
                <div class ="item-container">
                <button type="submit" name="enterDungeon" value="enterDungeon">
                <div class="escape"></div>
                </button>
            </div>
            </div>           

            <div class ="diamond" style="display: {{Diavis}}">
                <div class ="item-container">
                <button type="submit" name="addDiamond" value="Diamond">
                <img src="../img/adventure/diamond.png" width="20" alt="diamond">
                </button>
            </div>
            </div>

            <div class ="goblin">
                <div class ="item-container">
                <button type="submit" name="interactGoblin" value="Goblin">
                <img src="../img/adventure/goblin.png" width="120" alt="goblin">
                </button>
            </div>
            </div>
            <div class ="chest">
                <div class ="item-container">
                <button type="submit" name="interactChest" value="Chest">
                <img src="../img/adventure/chest.png" width="120" alt="chest">
                </button>
            </div>
            </div>            
            <div class ="back">
                <div class ="item-container">
                <button type="submit" name="back" value="Back">
                <img src="../img/adventure/back.png" width="70" alt="back">
                </button>
            </div>
            </div>
            </form>
        </div>

        <div class="info-log">
        {% for message in app.flashes('info') %}
        <div class="flash-notice">
            {{ message }}
        </div>
        {% endfor %}
        </div>

        <h3>Your Bag:</h3>
        <div class="bag">
        {% for item in bag %}
            <div class="bag-item">
                <img src="{{item.getItem()[1]}}" width="40">
                <p>{{item.getItem()[0]}}</p>
            </div>
        {% endfor %}
        </div>
    </article>
{% endblock %}