{% extends "adventure/adv.base.html.twig" %}
{% block title %}Adventure Game Ending{% endblock %}

{% block body %}
    <article class="content">
        <h1>Setup</h1>
        <div class="setup">
        <form method="post">
            <div class="setup-page">
            <label for="name">Enter Name:</label><br>
            <input type="text" id="name" name="name" required><br>
            <button type="submit" name="start" value="start">Ready</button>
            </div>
        </form>
        </div>
        <div class ="text-body">
            <h2>Synopsis</h2>
            <p>You are an explorer stuck in the middle of the jungle looking for diamonds. too afraid to navigate the jungle without guidance you must find a map.</p>
            <p>Find the diamonds and a way out!</p>

            <h2>How to play</h2>
            <ul>
                <li>Click on an item to pickup</li>
                <li>Click where you want to go</li>
                <li>Click red in the right-hand corner to go behind you</li>
                <li>If you want a clue, click around and read messages</li>
                <li>Click save score after the game ends if you want to keep your score on the leader board</li>
                <li>Collect as many diamonds as possible</li>
            </ul>

            <h2>Cheatsheet</h2>
            <h3> Exit the jungle</h3>
            <p>The fastest way to complete the game is to pickup the pickaxe, head into the cave and then sell the pickaxe for some gold at the goblin and then press the return button until you reach the jungle. There you will need to buy the map with the gold and then head out through the passage behind the pirate.</p>
            <h3> Diamond locations </h3>
            <ul>
                <li>Far to the left side of the entrance</li>
                <li>Bottom left in the cave</li>
                <li>In The dungeon if you click above the goblin</li>
                <li>Top right corner in the jungle</li>
                <li>Pick up the apple and trade it for a key with the parrot then use the key for the chest in the cave for a diamond</li>
            </ul>

        </div>

        <div class="info-log">
        {% for message in app.flashes('info') %}
        <div class="flash-notice">
            {{ message }}
        </div>
        {% endfor %}
        </div>

    </article>
{% endblock %}