{% extends "adventure/adv.base.html.twig" %}
{% block title %}Adventure Game{% endblock %}

{% block body %}
    <article class="content">
        <h1>Cave Lurker Adventure Game</h1>
        <div class ="text-body">
            <ul>
                <li><a href="{{ url("entrance") }}">Play The Game</a></li>
                
            </ul>
    </article>
{% endblock %}