{% extends "adventure/adv.base.html.twig" %}
{% block title %}Adventure Game{% endblock %}

{% block body %}
    <article class="content">
        <h1>Entrance</h1>
        <div class="firstroom">
            <div class ="item-container">
            <div class ="pickaxe">
                <a href="youtube.com">
                <img src="../img/adventure/pick.png" width="90" alt="pickaxe">
                </a>
            </div>
            </div>
        </div>
    </article>
{% endblock %}