{% extends "adventure/adv.base.html.twig" %}
{% block title %}Adventure Game Ending{% endblock %}

{% block body %}
{{ dump(_context) }}
    <article class="content">
        <h1>Your score has been saved</h1>

        </div>

    </article>
{% endblock %}