{% extends "base.html.twig" %}
{% block title %}About{% endblock %}

{% block body %}
    <article class="content">
        <h1>About</h1>
        <img src="img/mvc.png" width="600" alt="mvc">
        <div class ="text-body">
            <h1>Vad innehåller MVC kursen?</h1>

            <p>Programmering i webbmiljö, syntax, semantik, koppling mot databaser, datastrukturer och inbyggda funktioner.</p>

            <p>Objektorienterad programmering i PHP med språkkonstruktioner och begrepp. Objektorientering som sätt att strukturera och återanvända kod. Enkla designmönster.</p>

            <p>SQL med en databas tillsammans med PHP Data Objects</p>

            <p>Utveckling av webbapplikationer i ett ramverk där tekniker såsom webbserver (Apache), PHP, HTML, CSS, och SQL integreras tillsammans med ett webbaserat ramverk.</p>

            <p>Användning av verktyg och tekniker som lämpar sig för utveckling av webbapplikationer, tex UNIX/Linux, installation på extern webbserver, ssh, ftp/sftp, databasklienter såsom PHPMyAdmin, MySQL Workbench och kommandoklienter.</p>

            <p>syftet med kursen är att studenten ska kunna redogöra för utveckling med objektorienterad programmering och databaser i webbmiljö, genom att skriftligen beskriva och sammanfatta erfarenheter och observationer från övningar och projekt.</p>

            <p>Git repo: https://github.com/JamesTTTT/report.git</p>
            <a href="https://github.com/JamesTTTT/report.git"> Klicka här för att gå till repo</a>

        </div>
    </article>
{% endblock %}