{% extends "base.html.twig" %}
{% block title %}Card{% endblock %}

{% block body %}
    <article class="content">
        <h1>Card</h1>
        <div class ="text-body">
            <p>HELLO</p>
        </div>
    </article>
{% endblock %}