{% extends "base.html.twig" %}
{% block title %}Card{% endblock %}

{% block body %}
    <article class="content">
        <h1>Card</h1>
        <div class ="text-body">
            <ul>
                <li><a href="{{ url("deck") }}">Deck of cards</a></li>
                <li><a href="{{ url("shuffle") }}">Shuffle the cards</a></li>
                <li><a href="{{ url("draw") }}">Draw a card</a></li>
                <li><a href="{{ url("card") }}">Card</a></li>
            </ul>
        </div>
    </article>
{% endblock %}