{% extends "base.html.twig" %}
{% block title %}Deal{% endblock %}

{% block body %}
    <article class="content">
        <h1>Deal</h1>
        <div class ="deck-body">
        {{ dump(_context) }}
        {% for player in players %}
            <div class="player-container">
            <p>Player: {{ loop.index }}</p>
            {% for card in player.hand %}
            <div class="card-container">
                {{card.getDetails()[1]}}
                {{card.getDetails()[2]}}
            </div>
            {% endfor %}
            </div>
            {% endfor %}
        </div>
    </article>
{% endblock %}