{% extends "base.html.twig" %}
{% block title %}Home{% endblock %}

{% block body %}
    <article class="content">
        <h1>Home</h1>
        <img src="img/rsz_me.jpg" width="200" alt="Bild på mig">
        <div class ="text-body">
            <h1>Min me-sida i kursen MVC</h1>
            <p>Mitt namn är James Taylor. Uppvuxen i Markaryd, Småland, Mina intressen är att läsa böcker, historia och lysnna på musik. Jag gick på tekniska linjen på Hässleholms tekniska gymnasie och har nu börjat på blekinges tekniksa högskola.</p>

            <p>Jag har varit intresserad i programmering sedan gymnasiet och vill fortsätta utveckla mina kunskaper inom ämnet</p>

            <p>På fritiden gillar jag att läsa och gå på långa promenader</p>

            <p>I framtiden hoppas jag att kunna själv jobba inom webbdesign</p>
        </div>
    </article>
{% endblock %}


