{% extends "base.html.twig" %}
{% block title %}Metrics{% endblock %}

{% block body %}
    
<article class="content">
    <h1>Metrics</h1>
    <section>
    <h3>Introduction</h3>
    <p>Text Goes Here...</p>
    </section>
    <section>
    <h3>part2</h3>
    <p>Text Goes Here...</p>
    </section>
</article>
{% endblock %}