{% extends "base.html.twig" %}
{% block title %}Play{% endblock %}

{% block body %}
    <article class="content">
        <h1>Play</h1>
        <h3>Game session</h3>
        <div class ="text-body">

        </div>
    </article>
{% endblock %}