{% extends "base.html.twig" %}
{% block title %}Report{% endblock %}

{% block body %}
    
<article class="content">
    <h1>Report</h1>
    <section>
    <h2>Kmom01</h2>
    <p>Jag är väl familjär med objektorienterad programmering från tidigare kurser. Jag har arbetat med objektorientering i Python och javascript förut men tror inte jag har rört objektorienterinegn i PHP förut. </p>
    <p>PHPs objektorientering fungerar likt de av andra programmeringspråk med klasser och objekt. Man använder variablen $this for att referera till nuvarande objekt som används i metoderna inom klassen. Detta är likt att använda this i javascaript eller self i python. För att skapa ett objekt av klassen skriver man $obj = new Class() och för att ropa på en metod inom objektet $obj->metod(). Det finns mutable eller immutable objekt där mutible betyder att man kan förändra objektet under sin levnadstid medans immutable kan man ej ändra.</p>
    <p>Jag tror att jag har ganska bra uppfattning på hur kodbasen, koden och strukturen hänger ihop. Det är väldigt likt det vi använde i design kursen med strukturen och twig. Strukturen känns krångligare än det vi har använt i andra kurser men tror att det underlättar senare.</p>
    <p>I PHP the right way artikeln tyckte jag att sektionen om databaser var väldigt intressant då jag vill utnyttja det vi har lärt oss i Databaskursen. I webteckursen körde vi lite SQL i php men nu är det helt annorlunda då vi har mer kunskaper och erfarenhet inom databaser. Jag vill veta mer om design patterns då jag känner att det kan utnyttjas mycket framöver. Design patterns ger en generell struktur på sitt projekt och gör så att det blir lättare att hantera sin kod för både sig själv och för andra. Jag tyckte med att delen om password hashing var med intressant då jag har läst lite om webbsäkerhet på gymnasiet och hur man kan skydda användarens inlogg-detaljer på en databas.</p>
    <p>Min TIL för denna veckan är att sätta upp ett projekt med symfony och lite mer om hur TWIG frungerar då vi inte gick särskillt djupt i desgin kursen. </p>
    </section>
    
    <section>
    <h2>Kmom02</h2>
    <p>Här är redovisningstexten</p>
    </section>
    
    <section>
    <h2>Kmom03</h2>
    <p>Här är redovisningstexten</p>
    </section>
    
    <section>
    <h2>Kmom04</h2>
    <p>Här är redovisningstexten</p>
    </section>
    
    <section>
    <h2>Kmom05</h2>
    <p>Här är redovisningstexten</p>
    </section>
    
    <section>
    <h2>Kmom06</h2>
    <p>Här är redovisningstexten</p>
    </section>
    
    <section>
    <h2>Kmom07-10</h2>
    <p>Här är redovisningstexten</p>
    </section>
</article>
{% endblock %}